<div class="content">
  <img src="/img/no_icon.png" alt="" />
  <div class="content-text">
    <h3>ФИО сотрудника:</h3>
    <p><%= user.seminame %> <%= user.name %> <%= user.surname %></p>
    <h3>Роль сотрудника:</h3>
    <p><%= user.role %></p>
    <h3>Дата создания профиля:</h3>
    <p><%= user.time %></p>
  </div>
</div>
