<div class="profile">
  <div class="left-block">
    <img src="/img/no_icon.png" alt="" />
    <div class="profile-info">
      <h3>ФИО сотрудника:</h3>
      <p><%= user.seminame %> <%= user.name %> <%= user.surname %></p>
      <h3>Должность сотрудника:</h3>
      <p><%= user.jobTitle %></p>
      <h3>Дата создания профиля:</h3>
      <p><%= user.time %></p>
    </div>
  </div>
  <div class="buttons">
    <a href="#"></a>
    <a href="#"></a>
  </div>
</div>
