<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <% if (page === "news") { %>
    <link rel="stylesheet" href="/css/main-forUsers.css" />
    <% } %>
    <!--  -->
    <% if (page === "company") { %>
    <link rel="stylesheet" href="/css/main-about.css" />
    <% } %>
    <!--  -->
    <% if (page === "contacts") { %>
    <link rel="stylesheet" href="/css/main-contacts.css" />
    <% } %>
    <!--  -->
    <% if (page === "documents") { %>
      <link rel="stylesheet" href="/css/sss.css" />
      <% } %>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a
  class="goUp"
  href="#head"
  style="position: fixed; bottom: 80px; right: 40px; z-index: 10"
  aria-placeholder="Вверх"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    id="Outline"
    viewBox="0 0 24 24"
    width="80"
    height="80"
  >
    <path
      d="M17.71,9.88l-4.3-4.29a2,2,0,0,0-2.82,0L6.29,9.88a1,1,0,0,0,0,1.41,1,1,0,0,0,1.42,0L11,8V19a1,1,0,0,0,2,0V8l3.29,3.29a1,1,0,1,0,1.42-1.41Z"
    />
  </svg>
</a>
    <%- include("./partials/header") -%>
    <main>
      <!-- Если о компании -->
      <% if (page === "company") { %>
      <section class="about">
        <div class="about-content">
          <div class="menu">
            <ul>
              <a href="/about/company"><li>О компании</li></a>
              <a href="/about/news"><li>Новости</li></a>
              <a href="/about/contacts"><li>Контакты</li></a>
              <a href="/about/documents"><li>Документы</li></a>
            </ul>
          </div>
          <!--  -->
          <%- include("./partials/about2") -%>
          <!--  -->
      <% } %>

      <!-- Если новости -->
      <% if (page === "news") { %>
        <section class="forUsers">
          <div class="forUsers-content">
            <div class="menu">
              <ul>
                <a href="/about/company"><li>О компании</li></a>
                <a href="/about/news"><li>Новости</li></a>
                <a href="/about/contacts"><li>Контакты</li></a>
                <a href="/about/documents"><li>Документы</li></a>
              </ul>
            </div>
      <!--  -->
      <%- include("./partials/news") -%>
      <!--  -->
      <% } %>

      <% if (page === "documents") { %>

      <!--  -->
      <%- include("./partials/documents") -%>
      <!--  -->
      <% } %>

      <!-- Если контакты -->
      <% if (page === "contacts") { %>
      <!--  -->
      <%- include("./partials/contacts") -%>
      <!--  -->
      <% } %>
    </main>
    <% if (page != "news") { %>
    <!--  -->
    <%- include("./partials/footer") %>
    <!--  -->
    <% } %>
  </body>
</html>
