<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <% if (page === "news") { %>
    <link rel="stylesheet" href="/css/main-forUsers.css" />
    <% } %>
    <!--  -->
    <% if (page === "company") { %>
    <link rel="stylesheet" href="/css/main-about.css" />
    <% } %>
    <!--  -->
    <% if (page === "contacts") { %>
    <link rel="stylesheet" href="/css/main-contacts.css" />
    <% } %>
    <!--  -->
    <% if (page === "documents") { %>
      <link rel="stylesheet" href="/css/sss.css" />
      <% } %>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("./partials/header") -%>
    <main>
      <!-- Если о компании -->
      <% if (page === "company") { %>
      <section class="about">
        <div class="about-content">
          <div class="menu">
            <ul>
              <a href="/about/company"><li>О компании</li></a>
              <a href="/about/news"><li>Новости</li></a>
              <a href="/about/contacts"><li>Контакты</li></a>
              <a href="/about/documents"><li>Документы</li></a>
            </ul>
          </div>
          <!--  -->
          <%- include("./partials/about2") -%>
          <!--  -->
      <% } %>

      <!-- Если новости -->
      <% if (page === "news") { %>
        <section class="forUsers">
          <div class="forUsers-content">
            <div class="menu">
              <ul>
                <a href="/about/company"><li>О компании</li></a>
                <a href="/about/news"><li>Новости</li></a>
                <a href="/about/contacts"><li>Контакты</li></a>
                <a href="/about/documents"><li>Документы</li></a>
              </ul>
            </div>
      <!--  -->
      <%- include("./partials/news") -%>
      <!--  -->
      <% } %>

      <% if (page === "documents") { %>

      <!--  -->
      <%- include("./partials/documents") -%>
      <!--  -->
      <% } %>

      <!-- Если контакты -->
      <% if (page === "contacts") { %>
      <!--  -->
      <%- include("./partials/contacts") -%>
      <!--  -->
      <% } %>
    </main>
    <% if (page != "news") { %>
    <!--  -->
    <%- include("./partials/footer") %>
    <!--  -->
    <% } %>
  </body>
</html>
