<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <% if (page === "users") { %>
    <link rel="stylesheet" href="/css/main-panel.css" />
    <% } %>
    <!--  -->
    <% if (page === "feed") { %>
    <link rel="stylesheet" href="/css/main-feeds.css" />
    <% } %>
    <!--  -->
    <% if (page === "news") { %>
    <link rel="stylesheet" href="/css/main-news.css" />
    <% } %>
    <link rel="stylesheet" href="/css/admin-menu.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="icon" href="../public/img/favicon.ico.jpg" type="image/x-icon" /> -->
  </head>
  <body>
    <% if (!locals.user) { %>
    <!--  -->
    <%- include("./partials/404") -%>
    <!--  -->
    <% } else { %>
    <!--  -->
    <%- include("./partials/header") -%>
    <!--  -->
    <% switch (page) { case "users": %>
    <div class="menu fs20">
      <ul>
        <li class="active"><a href="/admin-panel/users">Пользователи</a></li>
        <li><a href="/admin-panel/feed">Вопросы</a></li>
        <li><a href="/admin-panel/news">Новости</a></li>
        <li><a href="/admin-panel/documents">Документы</a></li>
      </ul>
    </div>
    <% break; case "feed": %>
    <div class="menu fs20">
      <ul>
        <li><a href="/admin-panel/users">Пользователи</a></li>
        <li class="active"><a href="/admin-panel/feed">Вопросы</a></li>
        <li><a href="/admin-panel/news">Новости</a></li>
        <li><a href="/admin-panel/documents">Документы</a></li>
      </ul>
    </div>
    <% break; case "news": %>
    <div class="menu fs20">
      <ul>
        <li><a href="/admin-panel/users">Пользователи</a></li>
        <li><a href="/admin-panel/feed">Вопросы</a></li>
        <li class="active"><a href="/admin-panel/news">Новости</a></li>
        <li><a href="/admin-panel/documents">Документы</a></li>
      </ul>
    </div>
    <% break; %>
    <% break; case "documents": %>
    <div class="menu fs20">
      <ul>
        <li><a href="/admin-panel/users">Пользователи</a></li>
        <li><a href="/admin-panel/feed">Вопросы</a></li>
        <li<a href="/admin-panel/news">Новости</a></li>
        <li class="active"><a href="/admin-panel/documents">Документы</a></li>
      </ul>
    </div>
    <% break; } %>
    <main>
      <% if (page === "users") { %>
      <!--  -->
      <%- include("./adminPanel/users") -%>
      <!--  -->
      <% } %>
      <!--  -->
      <% if (page === "feed") { %>
      <!--  -->
      <%- include("./adminPanel/feeds") -%>
      <!--  -->
      <% } %>
      <!--  -->
      <% if (page === "news") { %>
      <!--  -->
      <%- include("./adminPanel/news") -%>
      <!--  -->
      <% } %>
      <!--  -->
      <% if (page === "documents") { %>
      <!--  -->
      <%- include("./adminPanel/documents") -%>
      <!--  -->
      <% }} %>
    </main>
  </body>
</html>
