<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/admin-menu.css" />
    <link rel="stylesheet" href="/css/forUsers-docs.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="icon" href="../public/img/favicon.ico.jpg" type="image/x-icon" /> -->
  </head>
  <body>
    <%- include("./partials/header") -%>
    <main>
      <!--  -->
      <section class="forUsers">
        <div class="forUsers-content">
          <!-- <div class="menu">
            <ul>
              <a href="/forUsers/profile/<%= locals.user.login %>"
                ><li>Профиль</li></a
              >
              <a href="/forUsers/documents"><li>Документы</li></a>
              <a href="/forUsers/chat"><li>Чат</li></a>
            </ul>
          </div> -->

          <!-- Если о компании -->
          <% if (page === "profile") { %>
          <!--  -->
          <%- include("./partials/profile") -%>
          <!--  -->
          <% } %>

          <!-- Если новости -->
          <% if (page === "documents") { %>
          <!--  -->
          <%- include("./partials/documentsUsers") -%>
          <!--  -->
          <% } %>

          <!-- Если контакты -->
          <% if (page === "chat") { %>
          <!--  -->
          <%- include("./partials/chat") -%>
          <!--  -->
          <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
