<section class="documents">
  <script>
    function UwUpublicFile() {
      let publicFileIn = document
        .getElementById("publicFile")
        .value.split("\\")
        .slice(-1);
      document.getElementById(
        "file-name-public"
      ).innerHTML = `Файл: ${publicFileIn}`;
    }
    function UwUsaveFile() {
      let saveFileIn = document
        .getElementById("saveFile")
        .value.split("\\")
        .slice(-1);
      document.getElementById(
        "file-name-save"
      ).innerHTML = `Файл: ${saveFileIn}`;
    }
  </script>
  <div class="docs">
    <div class="iii">
      <div class="docs-list">
        <% docs.forEach((elem) => { if (elem.fileType === "public") {%>
        <div class="document fs20">
          <div class="name"><p><%= elem.fileName %></p></div>
          <div class="knopki">
            <a
              href="/public/uploads/<%= elem.fileType %>/<%= elem.fileName %>"
              download
              >Скачать</a
            >
            <a href="/admin-panel/<%= page %>/delFile?name=<%= elem.fileName %>"
              >удалить
            </a>
          </div>
        </div>
        <% }}) %>
      </div>
      <form
        class="card"
        action="/admin-panel/documents/uploadFile/public/p"
        method="post"
        enctype="multipart/form-data"
      >
        <h2>Общие файлы</h2>
        <label class="inp">
          <input
            required
            type="file"
            name="publicFile"
            id="publicFile"
            onchange="UwUpublicFile()"
          />
          <p class="fs20" id="file-name-public">Выберите файл</p>
        </label>
        <button type="submit">Загрузить в общие файлы</button>
      </form>
    </div>

    <div class="iii">
      <div class="docs-list">
        <% docs.forEach((elem) => { if (elem.fileType === "save") {%>
        <div class="document fs20">
          <div class="name"><p><%= elem.fileName %></p></div>
          <div class="knopki">
            <a
              href="/public/uploads/<%= elem.fileType %>/<%= elem.fileName %>"
              download
              >Скачать</a
            >
            <a href="/admin-panel/<%= page %>/delFile?name=<%= elem.fileName %>"
              >удалить
            </a>
          </div>
        </div>

        <% }}) %>
      </div>
      <form
        class="card"
        action="/admin-panel/documents/uploadFile/save/s"
        method="post"
        enctype="multipart/form-data"
      >
        <h2>Рабочие файлы</h2>
        <label class="inp">
          <input
            required
            type="file"
            name="saveFile"
            id="saveFile"
            onchange="UwUsaveFile()"
          />
          <p id="file-name-save" class="fs20">Выберите файл</p>
          <button class="fs20" type="submit">Загрузить в рабочие файлы</button>
        </label>
      </form>
    </div>
  </div>
</section>
<% if (locals.messages) {%> <% messages.forEach((message) => { %>
<h2 class="center err <%= message.type %>"><%= message.string %></h2>
<% }) %> <% removeMessages() %> <% } %>
