<section class="feeds">
  <div class="feedsss">
    <div class="first fs24 semi-bold">
      <!-- <div class="name">
        <p>Имя</p>
      </div> -->
      <div class="text">
        <p>Сообщение</p>
      </div>
    </div>
    <% feeds.forEach((feed)=>{ %>
    <div class="feeds-content">
      <!-- <div class="name fs18">
        <p><%= feed.name %></p>
      </div> -->
      <div class="innerText">
        <div class="">
          <p class="fs18 semi-bold">Текст сообщения</p>
          <pre>
<%= feed.textarea %>

С уважением <%= feed.name %>.
          </pre>
        </div>
        <div class="inf">
          <div class="">
            <p class="fs18 semi-bold">Телефон / Email</p>
            <p><%= feed.number %></p>
            <p><%= feed.email %></p>
          </div>
          <div class="">
            <p class="fs18 semi-bold">Дата записи</p>
            <p><%= feed.date %></p>
          </div>
        </div>
      </div>
      <div class="delete">
        <a href="/admin-panel/feed/<%= feed.id %>/del">Удалить</a>
      </div>
    </div>
    <% }) %>
  </div>
</section>
